<!DOCTYPE html>
<html lang="en">
<head>
    <title>Paste | <%= data.id %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="PonjoPastes | <%= data.id %>">
    <meta property="og:site_name" content="Paste | <%= data.id %>">
    <meta property="og:description" content="<%= data.content %>">
    <meta property="og:image:url" content="https://raw.githubusercontent.com/Eerie6560/Archives/main/images/icons/PonjoPastes.png">
    <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/Eerie6560/Archives/main/images/icons/PonjoPastes.png">
    <meta name="theme-color" content="#cc9f45">
    <meta name="keywords" content="ben petrillo, petrillo, ponjo api, ponjo studios, elixir music bot, ben petrillo portfolio, ponjopastes">
    <link rel="icon" href="https://raw.githubusercontent.com/Eerie6560/Archives/main/images/icons/PonjoPastes.png" type="img/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body>
<div class="container my-5">
    <div class="text-center">
        <h2 class="display-5 text-center mb-3">Paste | <%= data.id %></h2>
        <p>Direct URL: <a href="<%= data.href %>"><%= data.href %></a></p>
        <a href="https://pastes.ponjo.club">
            <button class="btn btn-secondary" id="headers">
                Create Paste
            </button>
        </a>
        <a href="https://app.ponjo.club">
            <button class="btn btn-secondary" id="transform" >
                Ponjo Studios
            </button>
        </a>
    </div>
    <div class="card mt-3" id="paste-body">
        <div class="card-header">
            ID: <%= data.id %>
        </div>
        <div class="card-body">
            <pre id="paste-content" style="white-space: pre-wrap;"><%= data.content %></pre>
        </div>
        <button id="clipboard-button" class="btn btn-secondary">Copy to clipboard.</button>
    </div>
</div>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script type="text/javascript">
    document.getElementById("clipboard-button").addEventListener("click", () => {
        const copyText = document.getElementById("paste-content").innerText;
        navigator.clipboard.writeText(copyText).then(() => {
            document.getElementById("clipboard-button").innerText = "Copied!";
        })
        document.querySelector(".pre").addEventListener("click", () => {
            navigator.clipboard.writeText(copyText).then(() => {});
        });
    });
</script>